.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(252,90,44,.89);
  color: white;
  padding: 5px;
  height: 80px;
}

.input-header {

}

.button {

}
