.main-body {
  background-image: url("../images/pattern.svg");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 90px);
}

.input-home {

}

.button {

}
